@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
}
:root{
--primary:darkgrey;
--secondary:purple;
--pink:pink;
}
body {
margin:0;
width:100%;
--dot-bg: white;
--dot-color: grey;
--dot-size: 2px;
--dot-space: 22px;
background:
linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
var(--dot-color);

font-family: "Gowun Batang", serif;
font-weight: 400;
font-style: normal;
}
#main{
min-height:75vh;
background-position:bottom center;
}
#press{
background:radial-gradient(green,pink);
margin:40px auto 0;
font-family: "Gowun Batang", serif;
border-radius:5px;
width:120;
height:50;
}
.container{
max-width:1200px;
padding:18px;
margin:auto;
}
nav{
font-size: 20px;
display:flex;
justify-content:space-between;
}
.topnav{
display:flex;
list-style:none;
line-height:center;
gap:28px;
}
.topnav a{
color:#A3A3A3;
list-style:none;
text-decoration:none;
gap:50px;
}
.topnav a:hover{
color:black;
}
.btn{
padding:10px 16px;
font-family: "Gowun Batang", serif;
font-weight: 700;
background:orange;
cursor:pointer;
border-radius:5px;
}
.main-content {
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
margin-top:80px;
}
.main-content .intro-heading{
font-size:40px;
text-align:center;
}
.main-content .main-heading{
margin-top:60px;
text-align:center;
}
#services{
background:#F5FBFF;
}
.services{
display:flex;
gap:16px;
}
.section-title h1{
font-size:50px;
text-align:center;
}
.search-box{
width:600px;
background:#fff;
border:1px solid;
margin:60px auto 0;
border-radius:5px;
}
.row{
display:flex;
align-items:center;
padding:10px 20px;
}
#inpt{
background:blue;
margin:auto;
align-items:center;
text-align:center;
}
input{
flex:1;
height:50px;
background:transparent;
border:0;
outline:0;
font-size:18px;
color:#333;
}
.login{
margin-top:-300px;
height:40vh;
display:flex;
align-items:center;
text-align:center;
justify-content:center;
}
#box{
position:relative;
width:400px;
background:transparent;
padding: 60px 40px;
}
header{
font-size:40px;
margin-bottom:40px;
font-family: "Protest Strike", sans-serif;
font-weight: 400;
font-style: normal;
}
.input-field, form{
margin:25px 0;
position:relative;
height:50px;
width:100%;
}
.input-field input{
background:white;
height:100%;
width:100%;
border-radius:5px;
border:1px solid silver;
padding-left:15px;
outline:none;
font-size:19px;
transition:.4s;
}
#sbmt{
width:100px;
height:40px;
float:left;
margin:25px 0;
border-radius:5px;
align-items:left;
border:2px solid black;
background:#000;
outline:none;
color:white;
font-size:20px;
cursor:pointer;
}
input:focus{
border:1px solid purple;
}
#qrcode{
margin:40px auto 0;
background:#fff;
}
.seperate{
display:flex;
}
.para{
font-size:22px;
width:520;
margin-top:4px;
text-align:left;
}
.containers{
width:80%;
margin:50px auto;
background:#fff;
border-radius:8px;
padding:20px 60px 40px 40px;
box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}
.containers .contents{
display:flex;
align-items:center;
justify-content:space-between;
}
.containers .contents .left-side{
width:25%;
height:100%;
position:relative;
margin-top:15px;
}
.contents .left-side::before{
content: '';
position:absolute;
height:70%;
width:2px;
right:-15px;
top:50%;
transform:translateY(-50%);
background:#afafb6;
}
.left-side{
margin:14px;
text-algin:center;
}
.contents .left-side .details i{
font-size:24px;
color:#3e2093;
margin-bottom:10px;
}
.contents .left-side .details .topic{
font-size: 18px;
font-weight:500;
}
.contents .left-side .details .text-one,
.contents .left-side .details .text-two{
font-size:14px;
}
.containers .contents .right-side{
width:75%;
margin-left:75px;
}
.contents .right-side .topic-text{
font-size:22px;
font-weight:600;
color:#3e2093;
}
.right-side .input-box{
height:50px;
width:100%;
margin:12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
border:1px solid #a3a3a3;
border-radius:4px;
background:#f0f1f8;
font-size:18px;
height:100%;
width:100%;
padding:0 15px;
resize:none;
}
.right-side .message-box{
min-height:110px;
}
.right-side .button{
display:inline-block;
margin-top:12px;
}
.right-side .button input[type="button"]{
color:#fff;
font-size:18px;
outline:none;
border:none;
padding:8px 16px;
border-radius:6px;
background:#3e2093;
cursor:pointer;
transition:all 0.3s ease;
}
.right-side .button input[type="button"]:hover{
background:#5029bc;
}
.medium{
text-align:center;
margin:20px auto 0;
}
#cls{
background:transparent;
border:0;
outline:0;
}
#cls .fa-solid{
width:25px;
color:#555;
font-size:22px;
cursor:pointer;
}
::placeholder{
color:#555;
}
h2{
margin:60px auto 0;
text-align:center;
}
div #he {
  background: -webkit-linear-gradient(purple, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
display:inline-block;
}
.align{
margin:50px auto 0;
text-align:center;
}
#footer{
margin-top:145px;
background-color: #e1e1cb;
opacity: 0.9;
background-image:  linear-gradient(#4b4bb9 0.6000000000000001px, transparent 0.6000000000000001px), linear-gradient(to right, #4b4bb9 0.6000000000000001px, #e1e1cb 0.6000000000000001px);
background-size: 12px 12px;
}